<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="functional">
            <directory suffix="">tests/Ocelot/Calendar/Tests/Functional</directory>
            <directory suffix="*.phpt">tests/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="">tests/Ocelot/Calendar/Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>